<!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
    
    <!-- Tech Stack Links Script -->
    <script>
        function openTechSite(tech) {
            // 기술 스택별 공식 사이트 URL 매핑
            const techSites = {
            'typescript': 'https://www.typescriptlang.org/',
            'react': 'https://reactjs.org/',
            'node': 'https://nodejs.org/',
            'tailwind': 'https://tailwindcss.com/',
            'tailwind css': 'https://tailwindcss.com/',
            'shadcn/ui': 'https://ui.shadcn.com/',
            'vite': 'https://vitejs.dev/',
            'firebase': 'https://firebase.google.com/',
            'github actions': 'https://github.com/features/actions',
            'github': 'https://github.com/'
            };
            
            // 기술 스택에 맞는 URL이 있으면 새 창에서 열기
            if (techSites[tech]) {
                window.open(techSites[tech], '_blank');
            } else {
                // 매핑된 URL이 없는 경우 Google 검색 결과로 이동
                window.open(`https://www.google.com/search?q=${encodeURIComponent(tech + ' official website')}`, '_blank');
            }
        }
    </script>
